// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
  color: #BDE2FF;
}

.poster, .details, img {
  width: 300px;
  display: inline-block;
}

.poster {
  margin-right: 50px;
}

.details_page {
  width: 675px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #6464FF;
}

dt {
  color: #e0bc9f;
}

form, h1, h2, p {
  text-align: center;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 50pt;
  color: #D73C3C;
}

h2 {
  font-family: 'Lobster Two', cursive;
  color: #e0bc9f;
}

.search {
  width: 400px;
  margin: auto;
}
